
#paper {
    animation: shakeDown 2s linear infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes moveInBottom {
    0% {
        display: none;
        transform: translate(-50%, 50%);
        opacity: 0;
    }
    50% {
        display: block;
        transform: translate(-50%, -0%);
        opacity: .5;
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -60%);
    }
    100% {
        display: block ;
        transform: translate(-50%, -50%);
        opacity: 1;
        left: 50%;

    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@keyframes bounceVentje {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) scale(1);
    }
    40% {
        transform: translateY(-15px) scale(.6);
    }
    60% {
        transform: translateY(-10px) scale(.8);
    }
}

@keyframes turnAround {
    from {
        opacity: .8;
        transform: rotateZ(0);
    }
    to {
        opacity: 1;
        transform: rotateZ(360deg);
    }
}


@keyframes arrowLeftRight {
    from {
        transform: rotateZ(10deg) scale(.7);
    }
    to {
        transform: rotate(-10deg) scale(1);
    }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
     0% {
         opacity: 0;
         transform: translateY(20rem);
     }
    90% {
        opacity: .9;
        transform: translateY(-9px);
    }

     100% {
         opacity: 1;
         transform: translate(0);
     }
 }

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-30rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInCenter {
     0% {
         opacity: 0;
         transform: scale(0.2) translate(-50%, -50%);
     }

     100% {
         opacity: 1;
         transform: scale(1) translate(-50%, -50%);
     }
 }

@keyframes moveInCenterDude {
    0% {
        opacity: .7;
        transform: scale(0.7) ;
    }

    100% {
        opacity: 1;
        transform: scale(1) ;
    }
}

@keyframes largerBigger {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    35% {
        transform: scale(1.06);
    }
    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1);
    }
    80% {
        transform: scale(1);
    }
    85% {
        transform: scale(1.06);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes moveInBall {
    0% {
        opacity: .6;
        transform: translateY(3rem);
    }

    50% {
        opacity: 1;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0px) scale(.98) translateX(-12px);
    }
    35% {
        transform: translateY(20px) scale(1) translateX(1px);
    }
    65% {
        transform: translateY(0px) scale(.98) translateX(16px);
    }
    85% {
        transform: translateY(20px) scale(1) translateX(-2px);
    }

    100% {
        transform: translateY(0px) scale(.98) translateX(-6px);
    }
}

@keyframes moveUpDownLady {
    0% {
        transform: translate(418px, 444px) scale(1);
    }
    35% {
        transform: translate(418px, 442px) scale(1.01);
    }
    65% {
        transform: translate(418px, 444px) scale(1.0);
    }
    85% {
        transform: translate(418px, 442px) scale(1.01);
    }

    100% {
        transform: translate(418px, 444px) scale(1.0);
    }
}

@keyframes spinning {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.moveInRight {
    animation: moveInRight .6s ease-in;
}

@keyframes moveClouds {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    10% {
        transform: translateX(100px) translateY(-20px);
        opacity: .8;
    }
    20% {
        transform: translateX(200px) translateY(-15px);
        opacity: .6;
    }
    28% {
        transform: translateX(300px) translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateX(1000px) translateY(0);
        opacity: 0;
    }
}

@keyframes ballShotter {
    0% {
        transform: translate(60px, 200px) scale(.75) rotateZ(20deg);
        opacity: 1;
    }
    20% {
        transform: translate(40px, 160px) scale(.75) rotateZ(40deg);
    }
    40% {
        transform: translate(30px, 120px) scale(.8) rotateZ(60deg);
    }
    60% {
        transform: translate(20px, 80px) scale(.85) rotateZ(80deg);
    }
    80% {
        transform: translate(0px, 40px) scale(.9) rotateZ(100deg);
    }

    100% {
        transform: translate(10px, 0px) scale(1) rotateZ(120deg);
        opacity: .8;
    }
}

