.u-btn {
  padding: 12px 18px;
  border-radius: 20px;
  font-size: 2rem;
  border: none;
  transition: all .3s ease;
  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow;
    transform: translateY(-3px);
  }
  &--cta {
    background-color: $color-blue;
    color: white;
  }
}
