.header {
  display: flex;
  align-items: center;
  justify-content: center;
  &__pic {
    img {
      height: calc(100vh - 130px);
      width: 100vw;
      object-fit: cover;

    }
    &::after {
      content: ""; // ::before and ::after both require content
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(120deg, #1e1e1e, #1e1e1e);
      opacity: .4;
    }
    position: relative;

  }
  &__title {

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .3s ease-in;
    transform: translate(-50%, -50%);
    animation: moveInCenter .8s ease-in;
  }
}
