.waarom {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 8rem 0;

  &__foto {
    img {
      border-radius: 30px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      width: 90%;
      height: 100%;
      border: 6px solid $color-orange-dark;
      opacity: 0.4;
      //border-radius: 30px;
      z-index: -1;
    }
  }
  &__content {
    @include media-breakpoint-down(lg) {
      padding: 3rem 1rem 3rem 1rem;
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 6rem;
    }
  }
  &__btn {
    margin-top: 3rem;
  }
}
